In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re
import nltk
from nltk.tokenize import TweetTokenizer
from wordcloud import WordCloud

In [3]:
df_resume = pd.read_csv("UpdatedResumeDataSet.csv")
df_resume.head(10)

       Category                                             Resume
0  Data Science  Skills * Programming Languages: Python (pandas...
1  Data Science  Education Details \r\nMay 2013 to May 2017 B.E...
2  Data Science  Areas of Interest Deep Learning, Control Syste...
3  Data Science  Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...
4  Data Science  Education Details \r\n MCA   YMCAUST,  Faridab...
5  Data Science  SKILLS C Basics, IOT, Python, MATLAB, Data Sci...
6  Data Science  Skills â¢ Python â¢ Tableau â¢ Data Visuali...
7  Data Science  Education Details \r\n B.Tech   Rayat and Bahr...
8  Data Science  Personal Skills â¢ Ability to quickly grasp t...
9  Data Science  Expertise â Data and Quantitative Analysis â...

In [4]:
df_resume.head(30)

        Category                                             Resume
0   Data Science  Skills * Programming Languages: Python (pandas...
1   Data Science  Education Details \r\nMay 2013 to May 2017 B.E...
2   Data Science  Areas of Interest Deep Learning, Control Syste...
3   Data Science  Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...
4   Data Science  Education Details \r\n MCA   YMCAUST,  Faridab...
5   Data Science  SKILLS C Basics, IOT, Python, MATLAB, Data Sci...
6   Data Science  Skills â¢ Python â¢ Tableau â¢ Data Visuali...
7   Data Science  Education Details \r\n B.Tech   Rayat and Bahr...
8   Data Science  Personal Skills â¢ Ability to quickly grasp t...
9   Data Science  Expertise â Data and Quantitative Analysis â...
10  Data Science  Skills * Programming Languages: Python (pandas...
11  Data Science  Education Details \r\nMay 2013 to May 2017 B.E...
12  Data Science  Areas of Interest Deep Learning, Control Syste...
13  Data Science  Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...
14  Data Science  Education Details \r\n MCA   YMCAUST,  Faridab...
15  Data Science  SKILLS C Basics, IOT, Python, MATLAB, Data Sci...
16  Data Science  Skills â¢ Python â¢ Tableau â¢ Data Visuali...
17  Data Science  Education Details \r\n B.Tech   Rayat and Bahr...
18  Data Science  Personal Skills â¢ Ability to quickly grasp t...
19  Data Science  Expertise â Data and Quantitative Analysis â...
20  Data Science  Skills * Programming Languages: Python (pandas...
21  Data Science  Education Details \r\nMay 2013 to May 2017 B.E...
22  Data Science  Areas of Interest Deep Learning, Control Syste...
23  Data Science  Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...
24  Data Science  Education Details \r\n MCA   YMCAUST,  Faridab...
25  Data Science  SKILLS C Basics, IOT, Python, MATLAB, Data Sci...
26  Data Science  Skills â¢ Python â¢ Tableau â¢ Data Visuali...
27  Data Science  Education Details \r\n B.Tech   Rayat and Bahr...
28  Data Science  Personal Skills â¢ Ability to quickly grasp t...
29  Data Science  Expertise â Data and Quantitative Analysis â...

In [5]:
df_resume.shape

(962, 2)

In [6]:
print("Category :\n", df_resume['Category'].unique())
print("\nThe are ",len(df_resume['Category'].value_counts()),"diffrents values" )

Category :
 ['Data Science' 'HR' 'Advocate' 'Arts' 'Web Designing'
 'Mechanical Engineer' 'Sales' 'Health and fitness' 'Civil Engineer'
 'Java Developer' 'Business Analyst' 'SAP Developer' 'Automation Testing'
 'Electrical Engineering' 'Operations Manager' 'Python Developer'
 'DevOps Engineer' 'Network Security Engineer' 'PMO' 'Database' 'Hadoop'
 'ETL Developer' 'DotNet Developer' 'Blockchain' 'Testing']

The are  25 diffrents values